<h4>Request Example:</h4>
<pre>
    <code>
        Methods: POST
        Content-Type: application/json
        User-Agent: any
        Request:
            {
                "ip_version": "both",
                "ip_format": "cidr",
                "countries": [
                    "TW",
                    "JP"
                ]
            }
    </code>
</pre>
<h4>Response Example:</h4>
<pre>
    <code>
        Methods: POST
        Content-Type: application/json
        User-Agent: any
        Response:
            {
                "TW": {
                    "ipv4": [
                        "1.160.0.0/12",
                        "1.200.0.0/16",
                        ...more...
                    ],
                    "ipv6": [
                        "2001:238::/32",
                        "2001:288::/32",
                        ...more...
                    ]
                },
                "JP": {
                    "ipv4": [
                        "1.0.16.0/20",
                        "1.0.64.0/18",
                        ...more...
                    ],
                    "ipv6": [
                        "2001:200::/32",
                        "2001:218:2000::/36",
                        ...more...
                    ]
                },
                "data_provider": "db-ip.com"
            }
    </code>
</pre>