<h4>Request Example:</h4>
<pre>
    <code>
        Methods: GET / POST
        Content-Type: application/json
        User-Agent: any
        Request:
            {
                "ip_version": "both",
                "ip_format": "str"
            }
    </code>
</pre>
<h4>Response Example:</h4>
<pre>
    <code>
        Methods: GET / POST
        Content-Type: application/json
        User-Agent: any
        Response:
            {
                "ad_servers": {
                    "ipv6": [],
                    "ipv4": [
                        "103.245.223.129",
                        "103.245.223.131",
                        "103.245.223.192",
                        ...more...
                    ]
                }
            }
    </code>
</pre>