<table class="table table-hover table-bordered" style="background-color: #F0F0F0; color: #000000;">
    <thead>
        <tr>
            <th>
                Request Parameter
            </th>
            <th>
                Variable
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                ip_version
            </td>
            <td>
                ipv4<br>
                ipv6<br>
                both
            </td>
            <td>
                <strong>ipv4</strong>: generate IPv4 only address-list commands for RouterOS.<br>
                <strong>ipv6</strong>: generate IPv6 only address-list commands for RouterOS.<br>
                <strong>both</strong>: generate IPv4 and IPv6 address-list commands for RouterOS.
            </td>
        </tr>
    </tbody>
</table>