<table class="table table-hover table-bordered" style="background-color: #F0F0F0; color: #000000;">
    <thead>
        <tr>
            <th>Response Parameter</th>
            <th>JSON Format</th>
            <th>Variable</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                ad_servers
            </td>
            <td>string:[object-array]</td>
            <td>
                ipv4<br>
                ipv6
            </td>
            <td>
                <strong>ipv4</strong>: IPv4 addresses<br>
                <strong>ipv6</strong>: IPv6 addresses
            </td>
        </tr>
        <tr>
            <td>
                ipv4<br>
                ipv6
            </td>
            <td>
                string:[string/int-array]
            </td>
            <td>
                IPv4 addresses<br>
                IPv6 addresses
            </td>
            <td>
                <strong>IPv4 addresses</strong>: one of the AdServer's IPv4 address.<br>
                <strong>IPv6 addresses</strong>: one of the AdServer's IPv6 address.
            </td>
        </tr>
    </tbody>
    </table>