<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="view port" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="{{ url_for('.static', filename='js/jquery-2.2.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('.static', filename='js/bootstrap.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('.static', filename='css/bootstrap.min.css') }}">
        <link rel="icon" href="{{ url_for('.static', filename='favicon.ico') }}">
    </head>

    <body style="background-color: #000000; color: #FFFFFF;">
        <header></header>

        <div class="col-xs-4 col-md-4">{% block body %}{% endblock %}</div>
        <div class="col-xs-8 col-md-8">{% block body2 %}{% endblock %}</div>

    </body>
</html>